In [1]:
import pandas as pd
pd.options.display.max_columns = 99

# Project: Practice Optimizing Dataframes and Processing in Chunks

# Introduction

In [2]:
first_five = pd.read_csv('loans_2007.csv', nrows=5)
first_five

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,1.0,3.0,0.0,13648.0,83.7%,9.0,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-2015,171.62,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,car,bike,309xx,GA,1.00,0.0,Apr-1999,5.0,3.0,0.0,1687.0,9.4%,4.0,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-2013,119.66,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001,2.0,2.0,0.0,2956.0,98.5%,10.0,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-2014,649.91,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid,n,other,personel,917xx,CA,20.00,0.0,Feb-1996,1.0,10.0,0.0,5598.0,21%,37.0,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-2015,357.48,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-2011,Current,n,other,Personal,972xx,OR,17.94,0.0,Jan-1996,0.0,15.0,0.0,27783.0,53.9%,38.0,f,461.73,461.73,3581.120000,3581.12,2538.27,1042.85,0.00,0.00,0.00,Jun-2016,67.79,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

In [3]:
thousand_chunk = pd.read_csv('loans_2007.csv', nrows=1000)

In [4]:
thousand_chunk.memory_usage(deep=True).sum()/(1024*1024)

1.5502090454101562

Let's try tripling to 3000 rows and calculate the memory footprint for each chunk.

In [5]:
chunk_iter = pd.read_csv('loans_2007.csv', chunksize=3000)

for chunk in chunk_iter:
    print (chunk.memory_usage(deep=True).sum()/(1024*1024))

4.649013519287109
4.6447601318359375
4.646517753601074
4.647870063781738
4.6440629959106445
4.6459455490112305
4.644536972045898
4.646905899047852
4.645031929016113
4.645082473754883
4.657794952392578
4.6566619873046875
4.663469314575195
4.896910667419434
0.8808088302612305

# rows in the data set

In [6]:
chunk_iter = pd.read_csv('loans_2007.csv', chunksize=3000)
total_rows = 0
for chunk in chunk_iter:
    total_rows += len(chunk)
print(total_rows)

42538

# Exploring the Data in Chunks

# How many columns have a numeric type? How many have a string type?

In [7]:
import numpy as np
# Numeric columns
loans_chunks = pd.read_csv('loans_2007.csv',chunksize=3000)

numeric = []
string = []

for lc in loans_chunks:
    nums=lc.select_dtypes(include=[np.number]).shape[1]
    numeric.append(nums)
    strs = len(lc.select_dtypes(include=['object']).columns)
    string.append(strs)

print(numeric)
print(string)

[31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 30, 30]
[21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 22, 22]

In [8]:
# Are string columns consistent across chunks?
obj_cols = []
chunk_iter = pd.read_csv('loans_2007.csv', chunksize=3000)

for chunk in chunk_iter:
    chunk_obj_cols = chunk.select_dtypes(include=['object']).columns.tolist()
    if len(obj_cols) > 0:
        is_same = obj_cols == chunk_obj_cols
        if not is_same:
            print("overall obj cols:", obj_cols, "\n")
            print("chunk obj cols:", chunk_obj_cols, "\n")    
    else:
        obj_cols = chunk_obj_cols

overall obj cols: ['term', 'int_rate', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'purpose', 'title', 'zip_code', 'addr_state', 'earliest_cr_line', 'revol_util', 'initial_list_status', 'last_pymnt_d', 'last_credit_pull_d', 'application_type']

chunk obj cols: ['id', 'term', 'int_rate', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'purpose', 'title', 'zip_code', 'addr_state', 'earliest_cr_line', 'revol_util', 'initial_list_status', 'last_pymnt_d', 'last_credit_pull_d', 'application_type']

overall obj cols: ['term', 'int_rate', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'purpose', 'title', 'zip_code', 'addr_state', 'earliest_cr_line', 'revol_util', 'initial_list_status', 'last_pymnt_d', 'last_credit_pull_d', 'application_type']

chunk obj cols: ['id', 'term', 'int_rate', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'purpose', 'title', 'zip_code', 'addr_state', 'earliest_cr_line', 'revol_util', 'initial_list_status', 'last_pymnt_d', 'last_credit_pull_d', 'application_type']

Observation 1: By default -- 31 numeric columns and 21 string columns

Observation 2: It seems like one column in particular (the id column) is being cast to int64 in the last 2 chunks but not in the earlier chunks. Since the id column won't be useful for analysis, visualization, or predictive modelling let's ignore this column.

# How many unique values are there in each string column? How many of the string columns contain values that are less than 50% unique?

In [9]:
loans_chunks = pd.read_csv('loans_2007.csv',chunksize=3000)

uniques = {}
for lc in loans_chunks:
    strings_only = lc.select_dtypes(include=['object'])
    cols = strings_only.columns
    for c in cols:
        val_counts = strings_only[c].value_counts()
        if c in uniques:
            uniques[c].append(val_counts)
        else:
            uniques[c] = [val_counts]

In [10]:
uniques

{'addr_state': [CA    563
  NY    282
  FL    238
  TX    198
  NJ    133
  GA    122
  IL    117
  PA    103
  VA    100
  OH     91
  WA     82
  MA     81
  NC     79
  MD     70
  AZ     64
  CT     61
  MO     58
  CO     51
  MN     47
  WI     44
  OR     39
  NV     36
  MI     33
  AL     29
  LA     26
  SC     25
  UT     24
  HI     21
  OK     20
  KY     19
  AR     19
  KS     18
  RI     16
  AK     14
  DC     13
  WV     12
  NH     12
  SD     11
  MT      8
  NM      8
  VT      6
  WY      5
  DE      2
  Name: addr_state, dtype: int64, CA    518
  NY    290
  TX    231
  FL    220
  NJ    128
  IL    116
  VA    107
  PA    105
  OH    103
  NC     88
  GA     83
  MA     71
  MD     69
  WA     66
  AZ     64
  MI     59
  CO     58
  CT     54
  MO     51
  WI     45
  MN     45
  NV     41
  AL     37
  SC     34
  KY     34
  LA     33
  KS     32
  OR     29
  UT     27
  OK     25
  AR     19
  HI     17
  RI     16
  NM     12
  DE     12
  WV     11
  DC     11
  NH      9
  MT      8
  AK      7
  VT      5
  WY      5
  SD      3
  MS      1
  TN      1
  Name: addr_state, dtype: int64, CA    549
  NY    291
  FL    219
  TX    211
  NJ    142
  IL    122
  PA    108
  NC     90
  GA     85
  OH     83
  AZ     81
  MA     80
  VA     78
  CT     72
  MD     67
  WA     64
  MO     56
  CO     54
  MN     44
  MI     41
  OR     41
  SC     40
  NV     40
  AL     34
  WI     31
  LA     29
  AR     27
  OK     27
  KY     26
  KS     26
  HI     21
  UT     19
  DC     18
  NH     17
  NM     16
  RI     10
  DE     10
  WV      8
  SD      7
  VT      5
  AK      4
  WY      4
  MT      3
  Name: addr_state, dtype: int64, CA    538
  NY    246
  FL    229
  TX    201
  NJ    139
  IL    130
  NC    107
  MA    106
  GA    102
  OH     94
  PA     94
  VA     85
  MD     82
  WA     64
  MO     57
  AZ     57
  CO     56
  MI     56
  CT     50
  SC     47
  LA     39
  NV     38
  WI     38
  MN     38
  OR     37
  KY     32
  KS     31
  AL     29
  AR     23
  OK     23
  DC     17
  RI     16
  WV     15
  NM     14
  UT     13
  HI     13
  NH     12
  WY      7
  SD      7
  DE      6
  MT      5
  VT      4
  AK      3
  Name: addr_state, dtype: int64, CA    473
  NY    293
  FL    232
  TX    188
  NJ    125
  VA    118
  IL    111
  GA    110
  OH    110
  PA    110
  MA    103
  NC     86
  MD     83
  CT     63
  AZ     62
  MO     57
  MI     53
  LA     52
  MN     50
  SC     44
  WA     44
  CO     43
  NV     40
  AL     35
  KY     35
  OK     29
  WI     28
  OR     26
  KS     25
  DC     22
  RI     21
  AR     20
  UT     17
  NM     16
  NH     13
  MT     12
  WV     11
  DE     11
  WY     10
  HI      7
  AK      6
  VT      4
  SD      2
  Name: addr_state, dtype: int64, CA    544
  NY    244
  FL    217
  TX    195
  NJ    152
  PA    128
  IL    122
  VA    115
  GA     96
  MD     89
  OH     89
  NC     87
  MA     85
  AZ     69
  WA     65
  CO     55
  MO     54
  MN     51
  MI     50
  NV     46
  CT     41
  AL     39
  LA     39
  SC     36
  OK     35
  OR     30
  KY     29
  WI     29
  KS     25
  AR     21
  NM     16
  HI     14
  WV     12
  RI     12
  NH     12
  UT     11
  DC     10
  AK      8
  WY      7
  MT      7
  DE      6
  SD      5
  VT      3
  Name: addr_state, dtype: int64, CA    541
  NY    305
  TX    211
  FL    193
  NJ    146
  IL    110
  MA    108
  PA    105
  GA    100
  NC     99
  OH     86
  VA     85
  AZ     73
  WA     70
  MD     66
  MI     62
  MO     57
  NV     57
  MN     57
  CO     53
  CT     49
  OR     35
  WI     32
  SC     30
  LA     28
  KS     28
  KY     27
  AL     27
  UT     21
  OK     20
  WV     18
  DC     15
  HI     12
  RI     11
  NH     11
  AR     10
  NM     10
  DE      8
  MT      7
  AK      6
  VT      5
  WY      3
  SD      3
  Name: addr_state, dtype: int64, CA    525
  NY    286
  TX    209
  FL    197
  NJ    130
  PA    117
  IL    109
  MA    107
  GA    105
  NC    101
  OH     98
  VA     98
  MD     82
  CO     73
  WA     69
  MI     63
  AZ     62
  CT     54
  MO     46
  NV     43
  MN     40
  AL     39
  OR     39
  KS     31
  AR     30
  LA     30
  SC     28
  WI     26
  KY     19
  UT     17
  HI     15
  WV     15
  OK     15
  NH     15
  RI     14
  DC     14
  NM     10
  AK      8
  DE      7
  SD      7
  MT      3
  VT      3
  WY      1
  Name: addr_state, dtype: int64, CA    539
  NY    351
  FL    213
  TX    186
  NJ    143
  PA    126
  VA    116
  IL    111
  GA    106
  MA     99
  MD     89
  OH     85
  AZ     75
  CT     67
  MO     61
  CO     58
  MI     55
  WA     51
  MN     44
  AL     40
  SC     40
  LA     36
  WI     34
  NV     30
  OR     27
  KY     23
  WV     23
  DC     21
  OK     20
  UT     20
  AR     16
  NM     15
  NH     14
  RI     13
  DE     10
  HI      9
  NC      9
  WY      6
  MT      5
  VT      5
  AK      4
  KS      3
  SD      2
  Name: addr_state, dtype: int64, CA    568
  NY    267
  TX    214
  FL    206
  NJ    163
  VA    130
  GA    127
  PA    126
  MA    115
  IL    105
  MD    100
  OH     86
  WA     60
  AZ     59
  MI     57
  CT     57
  CO     57
  MO     55
  MN     47
  LA     38
  OR     38
  WI     38
  SC     36
  AL     31
  NV     27
  NM     23
  KY     23
  UT     19
  RI     19
  OK     19
  WV     18
  AR     18
  DC     12
  DE      8
  HI      7
  NH      7
  AK      6
  WY      5
  SD      4
  MT      3
  IA      1
  VT      1
  Name: addr_state, dtype: int64, CA    544
  NY    316
  FL    223
  TX    218
  NJ    148
  PA    133
  MA    127
  VA    121
  IL    118
  GA    112
  OH     84
  MD     74
  CO     67
  CT     63
  MI     57
  WA     56
  AZ     54
  MN     49
  MO     48
  WI     39
  AL     39
  OR     33
  SC     32
  NV     24
  OK     22
  KY     21
  DC     19
  NH     18
  LA     18
  WY     16
  UT     15
  NM     14
  HI     13
  RI     12
  AR     12
  WV     10
  DE      9
  MT      8
  SD      5
  VT      5
  AK      4
  Name: addr_state, dtype: int64, CA    534
  NY    314
  FL    223
  TX    206
  NJ    134
  IL    132
  PA    129
  MA    111
  GA    110
  VA    106
  OH    101
  MD     79
  CT     72
  CO     70
  MI     66
  AZ     65
  WA     62
  NV     42
  MN     42
  OR     36
  SC     35
  AL     35
  MO     33
  WI     32
  LA     29
  OK     21
  UT     21
  NM     19
  KS     17
  DC     17
  RI     17
  WV     15
  KY     14
  AR     11
  HI     10
  NH     10
  DE      8
  WY      8
  MT      6
  SD      4
  AK      3
  VT      1
  Name: addr_state, dtype: int64, CA    570
  NY    236
  TX    217
  FL    207
  NJ    134
  PA    125
  GA    113
  VA    110
  MA    110
  IL    107
  OH     98
  AZ     81
  MD     76
  CO     73
  WA     64
  MI     61
  MN     54
  MO     41
  SC     37
  CT     36
  OR     34
  KS     33
  AL     31
  NV     29
  LA     29
  UT     28
  WI     27
  OK     23
  KY     22
  DC     22
  RI     20
  NH     19
  AR     17
  MS     17
  HI     14
  DE     14
  NM     11
  MT     10
  WV      9
  TN      9
  NC      9
  AK      7
  VT      5
  WY      5
  SD      3
  ID      2
  NE      1
  Name: addr_state, dtype: int64, CA    387
  NY    273
  TX    216
  FL    215
  IL    154
  NJ    136
  PA    136
  OH    115
  MA    107
  VA    105
  GA     94
  MD     82
  MI     77
  MO     71
  CO     69
  CT     66
  WI     64
  WA     64
  AZ     54
  NC     51
  MN     43
  KY     32
  LA     30
  AL     30
  NV     27
  DE     25
  KS     24
  OR     23
  SC     22
  UT     19
  NM     18
  OK     18
  TN     17
  AR     15
  NH     13
  DC     12
  IA     11
  RI     11
  WV     10
  IN      9
  MT      8
  HI      8
  ID      7
  MS      6
  NE      6
  AK      5
  WY      4
  VT      4
  ME      3
  SD      3
  Name: addr_state, dtype: int64, FL    72
  NY    71
  GA    38
  CA    36
  NJ    35
  MA    28
  NC    24
  CO    20
  MO    20
  MD    17
  TX    14
  VA    13
  AZ    13
  CT    11
  IN    10
  AL     9
  WI     9
  IL     8
  WA     7
  NV     7
  UT     7
  MI     6
  PA     6
  NH     6
  OH     6
  KS     5
  LA     5
  TN     5
  NE     4
  SC     3
  NM     3
  KY     3
  MT     3
  AR     3
  MS     2
  MN     1
  DC     1
  VT     1
  WY     1
  AK     1
  SD     1
  OR     1
  Name: addr_state, dtype: int64], 'application_type': [INDIVIDUAL    3000
  Name: application_type, dtype: int64, INDIVIDUAL    3000
  Name: application_type, dtype: int64, INDIVIDUAL    3000
  Name: application_type, dtype: int64, INDIVIDUAL    3000
  Name: application_type, dtype: int64, INDIVIDUAL    3000
  Name: application_type, dtype: int64, INDIVIDUAL    3000
  Name: application_type, dtype: int64, INDIVIDUAL    3000
  Name: application_type, dtype: int64, INDIVIDUAL    3000
  Name: application_type, dtype: int64, INDIVIDUAL    3000
  Name: application_type, dtype: int64, INDIVIDUAL    3000
  Name: application_type, dtype: int64, INDIVIDUAL    3000
  Name: application_type, dtype: int64, INDIVIDUAL    3000
  Name: application_type, dtype: int64, INDIVIDUAL    3000
  Name: application_type, dtype: int64, INDIVIDUAL    2999
  Name: application_type, dtype: int64, INDIVIDUAL    536
  Name: application_type, dtype: int64], 'earliest_cr_line': [Oct-2000    37
  Apr-2000    36
  Nov-2000    33
  Jan-2000    32
  May-2000    31
  Nov-1998    29
  Feb-2000    28
  Dec-1998    26
  Sep-2000    26
  Dec-2001    26
  Nov-1999    26
  Sep-1998    25
  Aug-1999    25
  Oct-1999    25
  Oct-2003    24
  Aug-2000    24
  Jan-2001    23
  Jun-2002    22
  Feb-2005    22
  Jul-2000    22
  Nov-2003    22
  Jul-2006    21
  Oct-2002    21
  Mar-2001    20
  Oct-2005    20
  Jul-2001    20
  Dec-1999    20
  Dec-2000    20
  Sep-2006    19
  Mar-2006    19
              ..
  Aug-1982     1
  Apr-1985     1
  Sep-1982     1
  Mar-1970     1
  Oct-2008     1
  May-1982     1
  Jun-1975     1
  Mar-1978     1
  May-1989     1
  Sep-1981     1
  Jan-1981     1
  Dec-1973     1
  Dec-1972     1
  Feb-2008     1
  Jan-1978     1
  May-2008     1
  Mar-1969     1
  Aug-1979     1
  Mar-1975     1
  Oct-1982     1
  Oct-1977     1
  Dec-1982     1
  Jan-1982     1
  Sep-1962     1
  Jul-1980     1
  Dec-1985     1
  Apr-2008     1
  Sep-1968     1
  Oct-1980     1
  Dec-1975     1
  Name: earliest_cr_line, Length: 366, dtype: int64, Nov-1998    38
  Mar-2000    30
  Jul-2000    30
  Jan-2001    29
  Dec-1995    26
  Oct-2000    26
  Nov-1997    26
  Oct-1998    26
  Nov-1999    26
  Dec-1998    24
  Oct-2001    23
  Aug-1999    23
  Sep-2001    22
  Nov-2000    22
  Aug-2000    21
  Oct-1999    21
  Jan-1999    20
  Apr-1999    20
  Dec-1999    20
  Sep-1995    20
  Sep-2003    19
  Apr-1994    19
  Oct-2003    19
  Dec-1996    19
  May-2002    19
  Sep-2002    19
  May-1999    18
  May-1998    18
  Dec-2000    18
  Jul-1998    18
              ..
  Jun-1974     1
  May-1975     1
  Jun-1982     1
  May-1979     1
  Mar-1974     1
  Feb-1973     1
  Jan-1975     1
  Feb-1971     1
  Sep-1982     1
  Dec-1974     1
  Apr-1976     1
  Sep-1967     1
  Feb-1989     1
  Jun-2008     1
  Aug-1968     1
  Dec-1970     1
  Dec-1977     1
  Dec-1985     1
  Oct-1971     1
  Feb-1979     1
  Aug-1967     1
  Jun-1980     1
  Sep-1987     1
  Mar-1973     1
  Mar-1963     1
  Jan-1976     1
  May-1982     1
  Jan-1986     1
  Mar-1982     1
  Jan-1971     1
  Name: earliest_cr_line, Length: 399, dtype: int64, Jan-2000    32
  Apr-2000    32
  Aug-1998    31
  Oct-2003    28
  Nov-1998    26
  Oct-2000    25
  Aug-2000    25
  Aug-1999    25
  Oct-2001    24
  Dec-1999    24
  Nov-1997    24
  Feb-2001    24
  Sep-1999    23
  Oct-2002    23
  Nov-2001    23
  Nov-2000    23
  Nov-1999    23
  Dec-1997    23
  Jan-1997    22
  Nov-1996    22
  Dec-2000    21
  Jun-1999    21
  Jan-1999    21
  Sep-1998    21
  Mar-1999    21
  Oct-1999    21
  Jul-2000    21
  Jan-1996    20
  Oct-1998    20
  Jul-1999    20
              ..
  Jan-1977     1
  May-1975     1
  Oct-1954     1
  Nov-1970     1
  Sep-1976     1
  Nov-1978     1
  Aug-1980     1
  Aug-1982     1
  Sep-1965     1
  Jan-1974     1
  Jul-1976     1
  Jan-1986     1
  Oct-1971     1
  Jun-1980     1
  Nov-1982     1
  Dec-1981     1
  Apr-1985     1
  Jun-1978     1
  May-1981     1
  Jun-1969     1
  Dec-1972     1
  May-1973     1
  May-1982     1
  Mar-1968     1
  Nov-1974     1
  Oct-1988     1
  Sep-1962     1
  Mar-1979     1
  Mar-1980     1
  Oct-1981     1
  Name: earliest_cr_line, Length: 401, dtype: int64, Nov-1999    32
  Oct-1999    30
  Oct-2000    28
  Nov-1998    27
  Dec-1998    26
  Jan-2000    25
  May-1999    24
  Jan-2001    24
  Oct-1998    24
  Dec-1996    23
  Dec-1997    23
  Sep-2004    23
  Jan-1999    22
  Oct-1994    22
  Oct-2001    22
  Nov-1997    22
  Oct-2004    21
  Jul-1995    21
  Oct-1997    21
  Sep-1998    21
  Sep-1999    21
  Jun-1999    21
  Aug-1999    21
  Apr-2000    20
  Dec-2000    20
  Mar-1999    20
  Nov-2000    19
  Dec-1999    19
  Sep-2001    19
  Nov-2002    19
              ..
  Jul-1977     1
  Feb-1980     1
  May-1963     1
  Sep-1962     1
  Sep-1977     1
  Dec-1975     1
  Mar-1983     1
  Jul-1975     1
  Dec-1978     1
  Feb-1970     1
  May-1970     1
  Jan-1978     1
  Jan-1977     1
  Feb-1971     1
  Feb-1969     1
  Nov-1984     1
  Mar-1970     1
  Jul-1979     1
  Jul-1972     1
  Jan-1976     1
  Feb-1972     1
  Dec-1981     1
  Oct-1973     1
  Apr-1971     1
  Jun-1985     1
  Feb-1987     1
  Nov-1980     1
  Feb-1983     1
  Feb-1978     1
  Nov-1974     1
  Name: earliest_cr_line, Length: 383, dtype: int64, Feb-2001    32
  Jan-2000    32
  Nov-2000    31
  Dec-1999    31
  Sep-2000    28
  Dec-1998    28
  Nov-1998    28
  Jan-1997    27
  Dec-2000    27
  Oct-2000    26
  Oct-1999    26
  Oct-2002    25
  Oct-2001    24
  Apr-2000    23
  Dec-1997    23
  Sep-1998    23
  May-1999    23
  Sep-1999    22
  Aug-1999    22
  Oct-1998    22
  Mar-1999    22
  Nov-1994    22
  May-1998    21
  Nov-1999    21
  Nov-1996    21
  Nov-2003    20
  Dec-1996    20
  Aug-1998    20
  Jan-2001    20
  Jan-1999    20
              ..
  May-1989     1
  Aug-1978     1
  Mar-1968     1
  Apr-1964     1
  Nov-1967     1
  Mar-1975     1
  Dec-1978     1
  Mar-1969     1
  Oct-1980     1
  Sep-1977     1
  Dec-1976     1
  Mar-1966     1
  Jan-1963     1
  Jan-1977     1
  Jun-1981     1
  Nov-1970     1
  Mar-1982     1
  Jun-1978     1
  Jul-1975     1
  Nov-1974     1
  Sep-1982     1
  May-1982     1
  Apr-1975     1
  Jun-1979     1
  Jul-1972     1
  May-1972     1
  Jun-1959     1
  Jun-1975     1
  Jan-1982     1
  Nov-1966     1
  Name: earliest_cr_line, Length: 391, dtype: int64, Oct-1999    30
  Oct-2000    30
  Nov-1998    29
  May-2001    29
  Dec-1998    29
  Dec-1999    27
  Dec-1997    27
  Nov-1996    26
  Nov-1997    25
  Jan-1996    24
  Dec-1994    24
  May-2000    24
  Aug-2000    23
  Feb-2000    23
  Aug-1997    23
  Oct-2001    23
  Nov-1999    23
  Dec-2002    23
  Jun-2001    22
  Nov-2000    21
  Dec-2001    21
  Nov-1994    20
  May-1996    20
  Oct-1996    20
  Jul-2000    20
  Oct-2002    20
  Sep-1998    20
  Jun-1998    19
  Oct-2003    19
  Dec-1996    19
              ..
  Feb-1982     1
  Jun-1980     1
  Jul-1981     1
  Feb-1981     1
  Jul-1985     1
  Jan-1968     1
  Mar-1982     1
  Jun-1978     1
  Jun-1979     1
  Feb-1984     1
  Feb-1968     1
  Mar-1970     1
  Sep-1976     1
  Feb-1966     1
  Jun-1969     1
  Jan-1974     1
  Nov-1976     1
  Feb-1987     1
  Apr-1976     1
  Dec-1981     1
  Jun-1970     1
  Sep-1977     1
  Feb-1975     1
  Dec-1983     1
  May-1975     1
  Oct-1981     1
  Oct-1986     1
  Mar-1980     1
  Jul-1973     1
  Aug-1991     1
  Name: earliest_cr_line, Length: 383, dtype: int64, Sep-2000    34
  Nov-1998    33
  Oct-1996    31
  Aug-2000    30
  Oct-1998    29
  Oct-1999    29
  Dec-1996    28
  Nov-2003    28
  Dec-1997    26
  Nov-2000    25
  Dec-1998    24
  Dec-2000    23
  Oct-2000    23
  May-2000    23
  Feb-2000    23
  Sep-1997    23
  Dec-1995    22
  Oct-1997    22
  Nov-1997    21
  Nov-1999    21
  Jul-2000    20
  Jan-1994    20
  Jan-2000    20
  Aug-1997    20
  Jan-1995    19
  Mar-1999    19
  Nov-1995    19
  Nov-1996    19
  Jan-1996    19
  Jan-2001    19
              ..
  Mar-1980     1
  May-1987     1
  Nov-1976     1
  Nov-1966     1
  Jan-1970     1
  Nov-1969     1
  May-1979     1
  Feb-1986     1
  May-1976     1
  Nov-1980     1
  Aug-1981     1
  Mar-1976     1
  Sep-1976     1
  Jun-1973     1
  Apr-1975     1
  Oct-1965     1
  Apr-1983     1
  Sep-1978     1
  Oct-1978     1
  Feb-1972     1
  Nov-1981     1
  May-1974     1
  Jul-1977     1
  Jul-1978     1
  Apr-1974     1
  May-1970     1
  Apr-1981     1
  Mar-1984     1
  Aug-1982     1
  Dec-1976     1
  Name: earliest_cr_line, Length: 385, dtype: int64, Dec-1997    34
  Nov-2000    30
  Nov-1996    29
  Dec-1998    28
  Nov-1998    28
  Jul-2000    26
  May-2000    26
  Oct-2000    26
  Oct-1998    26
  Nov-1997    26
  Dec-1995    25
  Dec-2000    24
  Feb-2000    24
  Dec-1999    24
  Dec-1994    24
  Oct-1999    23
  Sep-2000    23
  Jan-1999    23
  Aug-2000    22
  May-1997    22
  Oct-2004    22
  Jan-2000    22
  Nov-1995    22
  Sep-2001    22
  Jan-1995    22
  Nov-1999    21
  Dec-1996    21
  Aug-1999    19
  Sep-1998    19
  May-1999    19
              ..
  Apr-1982     1
  Aug-1976     1
  Jan-1976     1
  Dec-1986     1
  Jun-1981     1
  Aug-1982     1
  Jun-1978     1
  Apr-1981     1
  Aug-1968     1
  Nov-1992     1
  Jul-1976     1
  Mar-2006     1
  Oct-1979     1
  Feb-1976     1
  Sep-1982     1
  Nov-1979     1
  Apr-1975     1
  Jan-1973     1
  Jan-1985     1
  Sep-1972     1
  Oct-1978     1
  Feb-1977     1
  Dec-1968     1
  Apr-1974     1
  Oct-1969     1
  Sep-1969     1
  Jan-1981     1
  Nov-1980     1
  Jan-1984     1
  Mar-1977     1
  Name: earliest_cr_line, Length: 387, dtype: int64, Nov-1999    29
  Oct-1999    29
  Nov-1997    28
  Nov-2000    28
  Oct-2000    27
  Aug-1998    27
  Dec-1998    27
  Nov-1998    26
  Oct-2004    26
  Oct-1998    24
  Oct-2001    23
  Sep-2000    23
  Oct-2002    22
  Feb-1994    22
  Dec-2001    21
  Dec-1993    21
  Jan-1997    21
  Dec-1997    21
  Jun-1998    21
  Oct-2003    20
  Jul-2000    20
  Jun-2001    20
  Jan-1996    20
  Jul-1999    20
  May-2000    20
  Jan-2001    20
  Aug-1995    20
  Dec-1999    19
  Dec-1996    19
  Apr-1996    19
              ..
  Jan-1981     1
  Apr-1982     1
  Feb-1970     1
  Oct-1980     1
  Jun-1986     1
  Jan-1975     1
  Oct-1971     1
  Oct-1981     1
  Jun-1978     1
  Mar-1975     1
  Aug-1982     1
  May-1979     1
  May-1974     1
  Jan-1986     1
  Jun-1976     1
  Jun-1980     1
  Nov-1970     1
  Sep-1982     1
  Oct-1979     1
  Aug-1978     1
  Apr-1969     1
  May-1981     1
  Aug-1973     1
  Nov-1978     1
  Jan-1987     1
  Sep-1964     1
  Aug-1968     1
  Jul-1981     1
  May-1975     1
  May-1977     1
  Name: earliest_cr_line, Length: 374, dtype: int64, Dec-1997    35
  Dec-1995    33
  Nov-2000    28
  Apr-1998    28
  Oct-1997    26
  Dec-1998    26
  Oct-2000    26
  Nov-1999    25
  Aug-1999    24
  Mar-1994    24
  Sep-2002    24
  Nov-1998    24
  Dec-1996    23
  Oct-1999    23
  Oct-1995    23
  Dec-1999    22
  Sep-2000    21
  Mar-1999    21
  Nov-1997    21
  Oct-2004    20
  Jul-2000    20
  Jan-1999    20
  Jan-1997    19
  Oct-1998    19
  Nov-2001    19
  Sep-1999    19
  Jan-2001    19
  Nov-2002    19
  Sep-1998    19
  Sep-2004    19
              ..
  Dec-1980     1
  Nov-1978     1
  May-1971     1
  Jul-1977     1
  Feb-1975     1
  Dec-1973     1
  Sep-1980     1
  May-1981     1
  Apr-1990     1
  Feb-1976     1
  Mar-1979     1
  May-1982     1
  Jun-1977     1
  Aug-1978     1
  Jan-1973     1
  Mar-1972     1
  Oct-1980     1
  Dec-1974     1
  Jan-1963     1
  Aug-1983     1
  Jan-1980     1
  May-1984     1
  May-1979     1
  Feb-1981     1
  Apr-1981     1
  Jan-1979     1
  Jun-1981     1

In [11]:
uniques_combined = {}
unique_stats = {
    'column_name': [],
    'total_values': [],
    'unique_values': [],
}

In [14]:
for col in uniques:
    u_concat = pd.concat(uniques[col])
    u_group = u_concat.groupby(u_concat.index).sum()
    uniques_combined[col] = u_group
    if u_group.shape[0] < 50:
        print(col, u_group.shape[0])

term 2
loan_status 9
initial_list_status 1
emp_length 11
pymnt_plan 2
verification_status 3
grade 7
application_type 1
home_ownership 5
purpose 14
sub_grade 35

# Which float columns have no missing values and could be candidates for conversion to the integer type?

In [18]:
loans_chunks = pd.read_csv('loans_2007.csv',chunksize=3000)

missing = []
for lc in loans_chunks:
    floats = lc.select_dtypes(include=['float'])
    missing.append(floats.isnull().sum())
    
combined_missing = pd.concat(missing)
combined_missing.groupby(combined_missing.index).sum().sort_values()

member_id                        3
total_rec_int                    3
total_pymnt_inv                  3
total_pymnt                      3
revol_bal                        3
recoveries                       3
policy_code                      3
out_prncp_inv                    3
out_prncp                        3
total_rec_late_fee               3
loan_amnt                        3
last_pymnt_amnt                  3
total_rec_prncp                  3
funded_amnt_inv                  3
funded_amnt                      3
dti                              3
collection_recovery_fee          3
installment                      3
annual_inc                       7
inq_last_6mths                  32
total_acc                       32
delinq_2yrs                     32
pub_rec                         32
delinq_amnt                     32
open_acc                        32
acc_now_delinq                  32
tax_liens                      108
collections_12_mths_ex_med     148
chargeoff_within_12_mths       148
pub_rec_bankruptcies          1368
dtype: int64

# Calculate the total memory usage across all of the chunks.

In [22]:

loans_chunks = pd.read_csv('loans_2007.csv',chunksize=3000)

mem_usage = []

for lc in loans_chunks:
    mem_usage.append(lc.memory_usage(deep=True).sum() / 1024 ** 2)

sum(mem_usage)

66.2153730392456

# Optimizing String Columns

Determine which string columns you can convert to a numeric type if you clean them. Let's focus on columns that would actually be useful for analysis and modelling.

In [23]:
useful_obj_cols = ['term', 'sub_grade', 'emp_title', 'home_ownership', 'verification_status', 'issue_d', 'purpose', 'earliest_cr_line', 'revol_util', 'last_pymnt_d', 'last_credit_pull_d']

In [24]:
## Create dictionary (key: column, value: list of Series objects representing each chunk's value counts)
chunk_iter = pd.read_csv('loans_2007.csv', chunksize=3000)
str_cols_vc = {}
for chunk in chunk_iter:
    str_cols = chunk.select_dtypes(include=['object'])
    for col in str_cols.columns:
        current_col_vc = str_cols[col].value_counts()
        if col in str_cols_vc:
            str_cols_vc[col].append(current_col_vc)
        else:
            str_cols_vc[col] = [current_col_vc]

In [25]:

## Combine the value counts.
combined_vcs = {}

for col in str_cols_vc:
    combined_vc=pd.concat(str_cols_vc[col])
    final_vc=combined_vc.groupby(combined_vc.index).sum()
    combined_vcs[col]=final_vc

In [26]:
for col in useful_obj_cols:
    print(col)
    print(combined_vcs[col])
    print("-----------")

term
 36 months    31534
 60 months    11001
Name: term, dtype: int64
-----------
sub_grade
A1    1142
A2    1520
A3    1823
A4    2905
A5    2793
B1    1882
B2    2113
B3    2997
B4    2590
B5    2807
C1    2264
C2    2157
C3    1658
C4    1370
C5    1291
D1    1053
D2    1485
D3    1322
D4    1140
D5    1016
E1     884
E2     791
E3     668
E4     552
E5     499
F1     392
F2     308
F3     236
F4     211
F5     154
G1     141
G2     107
G3      79
G4      99
G5      86
Name: sub_grade, dtype: int64
-----------
emp_title
  old palm inc                                               1
 Brocade Communications                                      1
 CenturyLink                                                 1
 Department of Homeland Security                             1
 Down To Earth Distributors, Inc.                            1
 Plaid, Inc.                                                 1
 U.S. Dept. Of Homeland Security                             1
 pacific crane maintenance company                           1
$260M '06 vintage technology venture capital firm            1
(Collaborative) Abbott Nutrition Intl                        1
(self) Castleforte Group                                     1
0CEAN VIEW INTL REALTY/C21 UNITED PLATINUM                   1
1 Cochran Hyundai                                            1
1 and 1 Internet Inc.                                        1
1)-Yavapai Regional Medical Center 2)- Dr. cantors office    1
1-800 Contacts                                               1
101 restaurant                                               1
1013 communications                                          1
1125 memorex dr                                              1
1199SEIU Benefit and Pension Funds                           1
1199SEIU UHE                                                 1
123 Recovery                                                 1
123 appartment corp.                                         1
128 Air Refueling Wing (USAF)                                1
1400                                                         1
15                                                           1
162 fighter wing                                             1
16th MP BDE, U.S. Army                                       1
1800-got-junk?                                               1
182nd Airlift Wing Fire Dept.                                1
                                                            ..
wyoming valley hospital                                      1
wythe county community hospital                              1
xcel fire protection                                         1
xerox cor.                                                   1
xerox corp                                                   1
xo communication                                             1
xotic deliveries                                             1
xpedite technologies inc                                     1
xpedx                                                        1
yankee candle company                                        1
ye olde pepper co                                            1
yellow cab com.                                              1
yellow cab taxi                                              1
ymca                                                         3
yonkers fire department                                      1
york hospital dental center                                  1
yorkville physical therapy                                   1
young and associates                                         1
young atitudes aveda                                         1
youth villages                                               1
yrbnyc.com / Yellow Rat Bastard                              1
yrc                                                          1
yrcw                                                         1
zachry industral inc                                         1
zakheim and lavrar                                           1
zashko inc.                                                  1
zeno office solutions                                        1
zion lutheran school                                         1
zoll medical corp                                            1
zozaya officiating                                           1
Name: emp_title, Length: 30658, dtype: int64
-----------
home_ownership
MORTGAGE    18959
NONE            8
OTHER         136
OWN          3251
RENT        20181
Name: home_ownership, dtype: int64
-----------
verification_status
Not Verified       18758
Source Verified    10306
Verified           13471
Name: verification_status, dtype: int64
-----------
issue_d
Apr-2008     259
Apr-2009     333
Apr-2010     912
Apr-2011    1563
Aug-2007      74
Aug-2008     100
Aug-2009     446
Aug-2010    1175
Aug-2011    1934
Dec-2007     172
Dec-2008     253
Dec-2009     658
Dec-2010    1335
Dec-2011    2267
Feb-2008     306
Feb-2009     302
Feb-2010     682
Feb-2011    1298
Jan-2008     305
Jan-2009     269
Jan-2010     662
Jan-2011    1380
Jul-2007      63
Jul-2008     141
Jul-2009     411
Jul-2010    1204
Jul-2011    1875
Jun-2007      24
Jun-2008     124
Jun-2009     406
Jun-2010    1105
Jun-2011    1835
Mar-2008     402
Mar-2009     324
Mar-2010     828
Mar-2011    1448
May-2008     115
May-2009     359
May-2010     989
May-2011    1704
Nov-2007     112
Nov-2008     209
Nov-2009     662
Nov-2010    1224
Nov-2011    2232
Oct-2007     105
Oct-2008     122
Oct-2009     604
Oct-2010    1232
Oct-2011    2118
Sep-2007      53
Sep-2008      57
Sep-2009     507
Sep-2010    1189
Sep-2011    2067
Name: issue_d, dtype: int64
-----------
purpose
car                    1615
credit_card            5477
debt_consolidation    19776
educational             422
home_improvement       3199
house                   426
major_purchase         2311
medical                 753
moving                  629
other                  4425
renewable_energy        106
small_business         1992
vacation                400
wedding                1004
Name: purpose, dtype: int64
-----------
earliest_cr_line
Apr-1964      3
Apr-1966      1
Apr-1967      4
Apr-1968      1
Apr-1969      1
Apr-1970      3
Apr-1971      6
Apr-1972      2
Apr-1973      7
Apr-1974      6
Apr-1975     11
Apr-1976      7
Apr-1977     10
Apr-1978     14
Apr-1979     15
Apr-1980     17
Apr-1981     15
Apr-1982     23
Apr-1983     29
Apr-1984     27
Apr-1985     31
Apr-1986     29
Apr-1987     48
Apr-1988     55
Apr-1989     64
Apr-1990     79
Apr-1991     77
Apr-1992     90
Apr-1993    100
Apr-1994    134
           ...
Sep-1979     20
Sep-1980     18
Sep-1981     28
Sep-1982     16
Sep-1983     33
Sep-1984     46
Sep-1985     41
Sep-1986     59
Sep-1987     59
Sep-1988     63
Sep-1989     83
Sep-1990     93
Sep-1991     70
Sep-1992     72
Sep-1993    124
Sep-1994    119
Sep-1995    181
Sep-1996    187
Sep-1997    196
Sep-1998    267
Sep-1999    277
Sep-2000    325
Sep-2001    282
Sep-2002    251
Sep-2003    220
Sep-2004    221
Sep-2005    162
Sep-2006    150
Sep-2007     63
Sep-2008      8
Name: earliest_cr_line, Length: 530, dtype: int64
-----------
revol_util
0%       1070
0.01%       1
0.03%       1
0.04%       1
0.05%       1
0.1%       61
0.12%       1
0.16%       1
0.2%       64
0.3%       43
0.4%       45
0.46%       1
0.49%       1
0.5%       49
0.54%       1
0.6%       39
0.7%       47
0.75%       1
0.8%       43
0.83%       1
0.86%       1
0.9%       41
1%         51
1.1%       39
1.2%       37
1.3%       36
1.4%       32
1.5%       33
1.6%       24
1.7%       30
         ...
97%        31
97.1%      39
97.2%      32
97.3%      36
97.4%      33
97.5%      35
97.6%      35
97.7%      45
97.8%      38
97.9%      27
98%        28
98.1%      25
98.2%      25
98.3%      36
98.4%      31
98.5%      29
98.6%      36
98.7%      27
98.8%      38
98.9%      20
99%        35
99.1%      33
99.2%      22
99.3%      32
99.4%      24
99.5%      24
99.6%      27
99.7%      32
99.8%      25
99.9%      29
Name: revol_util, Length: 1119, dtype: int64
-----------
last_pymnt_d
Apr-2008     23
Apr-2009     72
Apr-2010    145
Apr-2011    519
Apr-2012    781
Apr-2013    890
Apr-2014    682
Apr-2015    141
Apr-2016    178
Aug-2008     31
Aug-2009     66
Aug-2010    198
Aug-2011    479
Aug-2012    868
Aug-2013    744
Aug-2014    836
Aug-2015    217
Dec-2007      2
Dec-2008     31
Dec-2009    116
Dec-2010    332
Dec-2011    585
Dec-2012    732
Dec-2013    799
Dec-2014    949
Dec-2015    185
Feb-2008      8
Feb-2009     65
Feb-2010    148
Feb-2011    437
           ...
May-2011    448
May-2012    773
May-2013    943
May-2014    686
May-2015    151
May-2016    203
Nov-2008     31
Nov-2009     80
Nov-2010    258
Nov-2011    487
Nov-2012    782
Nov-2013    701
Nov-2014    593
Nov-2015    231
Oct-2008     55
Oct-2009     85
Oct-2010    292
Oct-2011    482
Oct-2012    853
Oct-2013    712
Oct-2014    813
Oct-2015    200
Sep-2008     40
Sep-2009     55
Sep-2010    215
Sep-2011    491
Sep-2012    802
Sep-2013    712
Sep-2014    694
Sep-2015    211
Name: last_pymnt_d, Length: 103, dtype: int64
-----------
last_credit_pull_d
Apr-2009     24
Apr-2010     77
Apr-2011    177
Apr-2012    326
Apr-2013    445
Apr-2014    507
Apr-2015    404
Apr-2016    912
Aug-2007     17
Aug-2008     15
Aug-2009     32
Aug-2010     68
Aug-2011    290
Aug-2012    391
Aug-2013    375
Aug-2014    528
Aug-2015    435
Dec-2007      3
Dec-2008      7
Dec-2009     73
Dec-2010    156
Dec-2011    268
Dec-2012    391
Dec-2013    431
Dec-2014    567
Dec-2015    656
Feb-2008      3
Feb-2009     20
Feb-2010     87
Feb-2011    199
           ...
May-2013    470
May-2014    477
May-2015    433
May-2016    766
Nov-2007      3
Nov-2009     50
Nov-2010    126
Nov-2011    221
Nov-2012    432
Nov-2013    491
Nov-2014    500
Nov-2015    516
Oct-2007      3
Oct-2008     13
Oct-2009     51
Oct-2010    120
Oct-2011    162
Oct-2012    351
Oct-2013    429
Oct-2014    529
Oct-2015    513
Sep-2007      5
Sep-2008      9
Sep-2009     21
Sep-2010    119
Sep-2011    175
Sep-2012    414
Sep-2013    408
Sep-2014    564
Sep-2015    531
Name: last_credit_pull_d, Length: 108, dtype: int64
-----------

# Convert to category

In [27]:
convert_col_dtypes = {
    "sub_grade": "category", "home_ownership": "category", 
    "verification_status": "category", "purpose": "category"
}

In [28]:
chunk[useful_obj_cols]

,term,sub_grade,emp_title,home_ownership,verification_status,issue_d,purpose,earliest_cr_line,revol_util,last_pymnt_d,last_credit_pull_d
42000,36 months,C2,Best Buy,RENT,Not Verified,Feb-2008,debt_consolidation,Jul-2000,100.7%,Feb-2011,Jun-2016
42001,36 months,G2,CVS PHARMACY,OWN,Not Verified,Feb-2008,debt_consolidation,Mar-1989,51.9%,Nov-2008,Jun-2016
42002,36 months,E4,General Motors,RENT,Not Verified,Feb-2008,debt_consolidation,Dec-1998,80.7%,Feb-2011,Jun-2016
42003,36 months,G4,usa medical center,RENT,Not Verified,Feb-2008,debt_consolidation,Jul-1995,57.2%,Feb-2011,Jun-2011
42004,36 months,B3,InvestSource Inc,RENT,Not Verified,Feb-2008,debt_consolidation,Sep-2005,74%,Mar-2010,Aug-2010
42005,36 months,D1,kaiser,MORTGAGE,Not Verified,Feb-2008,debt_consolidation,Nov-2000,37.6%,Mar-2010,Apr-2010
42006,36 months,C1,Panoramic Software,MORTGAGE,Not Verified,Feb-2008,debt_consolidation,Dec-1995,56%,Apr-2010,Jun-2016
42007,36 months,D5,AT&T Inc.,RENT,Not Verified,Feb-2008,small_business,Feb-2000,49.7%,Feb-2009,Oct-2009
42008,36 months,D4,D&Y,RENT,Not Verified,Feb-2008,debt_consolidation,Oct-1992,71.5%,Jan-2010,Jun-2016
42009,36 months,D5,Frederick's of Hollywood,RENT,Not Verified,Feb-2008,debt_consolidation,Oct-1994,49%,Jul-2008,Jun-2016
42010,36 months,F2,Yuma Nursing Home Ctr,RENT,Not Verified,Feb-2008,debt_consolidation,Oct-1993,18.1%,Feb-2011,Nov-2014
42011,36 months,E5,Akiva Incorporated,RENT,Not Verified,Feb-2008,small_business,Jan-2006,30.8%,Jan-2009,Aug-2009
42012,36 months,G4,Citrix Online,OWN,Not Verified,Feb-2008,debt_consolidation,Sep-1998,98.1%,Feb-2011,Mar-2016
42013,36 months,G3,Virginia College Online,MORTGAGE,Not Verified,Feb-2008,other,Dec-1990,78.4%,Oct-2008,Sep-2008
42014,36 months,E2,Zone 7 Water Agency,RENT,Not Verified,Feb-2008,debt_consolidation,Nov-1998,94.3%,May-2009,May-2013
42015,36 months,G5,Integrity Appraisals,MORTGAGE,Not Verified,Feb-2008,debt_consolidation,Feb-1997,78.7%,Nov-2008,Jun-2016
42016,36 months,G4,Stordok Document Destruction/Moreno Roofing Co.,MORTGAGE,Not Verified,Feb-2008,credit_card,Jun-1982,0%,Feb-2011,Dec-2014
42017,36 months,E4,Aladdin Capital Management,RENT,Not Verified,Feb-2008,credit_card,Nov-1999,65.2%,Nov-2009,Nov-2009
42018,36 months,D4,Cayuga Medical Center,RENT,Not Verified,Feb-2008,debt_consolidation,Nov-1994,58.9%,Feb-2011,Jun-2016
42019,36 months,E1,North Sound PT,RENT,Not Verified,Jan-2008,debt_consolidation,Feb-2000,94%,Oct-2009,Mar-2010
42020,36 months,C3,UHS,RENT,Not Verified,Jan-2008,medical,Oct-1998,83.1%,Feb-2011,Feb-2011
42021,36 months,D4,Adecco,RENT,Not Verified,Feb-2008,debt_consolidation,Nov-2002,60.7%,Aug-2009,Jan-2011
42022,36 months,E5,Greatwide logistics Services,MORTGAGE,Not Verified,Feb-2008,home_improvement,Oct-1994,49.9%,Sep-2009,Jun-2016
42023,36 months,D4,ASU University,RENT,Not Verified,Feb-2008,credit_card,Sep-2000,59.9%,Feb-2011,Feb-2011
42024,36 months,B5,Wells Fargo,RENT,Not Verified,Feb-2008,debt_consolidation,Nov-1995,32.6%,Feb-2011,Jun-2016
42025,36 months,D5,lakeside memorial hospital,MORTGAGE,Not Verified,Jan-2008,debt_consolidation,Nov-1997,77.4%,Jan-2011,Jun-2016
42026,36 months,B5,Controller Group,RENT,Not Verified,Feb-2008,small_business,Mar-1998,46.5%,Oct-2008,Jun-2016
42027,36 months,F1,David Johnston Equestrian Training Lic.#29026,RENT,Not Verified,Feb-2008,small_business,Nov-2000,18.1%,Feb-2011,Feb-2011
42028,36 months,E3,Lockheed Martin Corp.,MORTGAGE,Not Verified,Feb-2008,debt_consolidation,Dec-1983,45.9%,Feb-2011,Jun-2016
42029,36 months,G4,Self,MORTGAGE,Not Verified,Feb-2008,small_business,Apr-1994,92.3%,Apr-2008,Jun-2016
...,...,...,...,...,...,...,...,...,...,...,...
42508,36 months,D5,SUNY- ESF,RENT,Not Verified,Jul-2007,credit_card,Dec-2004,49.3%,Jul-2010,Sep-2012
42509,36 months,D5,Clinton Shop Rite of Hunterdon County,OWN,Not Verified,Jul-2007,car,Dec-2006,NaN,Feb-2010,Jul-2013
42510,36 months,B4,Scheduall,MORTGAGE,Not Verified,Jul-2007,debt_consolidation,NaN,NaN,Feb-2008,May-2007
42511,36 months,E5,GA-PCOM,RENT,Not Verified,Jul-2007,educational,Sep-1999,85%,Aug-2010,Aug-2010
42512,36 months,A1,Tzigane Inc,MORTGAGE,Not Verified,Jul-2007,debt_consolidation,Mar-1984,2.2%,Jul-2010,Jun-2010
42513,36 months,C2,Yale University,RENT,Not Verified,Jun-2007,debt_consolidation,Jan-1996,66%,Jun-2010,Oct-2014
42514,36 months,B4,Brick Township board of education,MORTGAGE,Not Verified,Jun-2007,debt_consolidation,Jul-2004,63.5%,Jun-2010,Feb-2015
42515,36 months,B2,Classic Components,RENT,Not Verified,Jun-2007,other,NaN,NaN,Jul-2010,Jun-2016
42516,36 months,C4,Compensation Solutions,RENT,Not Verified,Jun-2007,other,NaN,NaN,Apr-2010,Apr-2010
42517,36 months,C3,"Stanford University Libraries, LOCKSS Project",RENT,Not Verified,Jun-2007,other,NaN,NaN,Jul-2010,Sep-2014
42518,36 months,E3,Macy's,RENT,Not Verified,Jun-2007,other,NaN,NaN,Jun-2010,Jun-2010
42519,36 months,A3,Diamond Management and Technology Consultants,MORTGAGE,Not Verified,Jun-2007,other,NaN,NaN,Aug-2009,Aug-2009
42520,36 months,A2,U.S. Bank,MORTGAGE,Not Verified,Jun-2007,other,NaN,NaN,Jan-2008,Jun-2007
42521,36 months,A2,NC,MORTGAGE,Not Verified,Jun-2007,other,NaN,NaN,Jan-2008,Jun-2007
42522,36 months,A5,College Pro Painters,MORTGAGE,Not Verified,Jun-2007,other,NaN,NaN,Mar-2010,Mar-2010
42523,36 months,A1,Mana Products,RENT,Not Verified,Jun-2007,other,NaN,NaN,Jun-2010,Apr-2014
42524,36 months,C4,Apto Solutions,RENT,Not Verified,Jun-2007,other,NaN,NaN,Jul-2010,Jun-2010
42525,36 months,D3,Infinitely law group,RENT,Not Verified,Jun-2007,other,NaN,NaN,May-2008,Jun-2016
42526,36 months,C4,Town of Plainville,RENT,Not Verified,Jun-2007,other,NaN,NaN,Aug-2008,Jun-2007
42527,36 months,B2,Tanks Tavern,RENT,Not Verified,Jun-2007,other,NaN,NaN,Jul-2010,Jun-2010
42528,36 months,B3,NaN,OWN,Not Verified,Jun-2007,other,NaN,NaN,Jun-2010,May-2007
42529,36 months,B5,NaN,RENT,Not Verified,Jun-2007,other,NaN,NaN,Jul-2010,Jul-2010
42530,36 months,B4,Air Force,RENT,Not Verified,Jun-2007,other,NaN,NaN,May-2008,Jun-2016
42531,36 months,C1,NaN,RENT,Not Verified,Jun-2007,other,NaN,NaN,Mar-2008,Feb-2013
42532,36 months,B4,Halping hands company inc.,RENT,Not Verified,Jun-2007,other,NaN,NaN,Jun-2010,Sep-2014
42533,36 months,B3,NaN,RENT,Not Verified,Jun-2007,other,NaN,NaN,Jun-2010,May-2007
42534,36 months,A5,NaN,NONE,Not Verified,Jun-2007,other,NaN,NaN,Jun-2010,Aug-2007
42535,36 months,A3,Homemaker,MORTGAGE,Not Verified,Jun-2007,other,NaN,NaN,Jun-2010,Feb-2015
42536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
chunk_iter = pd.read_csv('loans_2007.csv', chunksize=3000,dtype=convert_col_dtypes, parse_dates=["issue_d", "earliest_cr_line", "last_pymnt_d", "last_credit_pull_d"])


for chunk in chunk_iter:
    term_cleaned = chunk['term'].str.lstrip(" ").str.rstrip(" months")
    revol_cleaned = chunk['revol_util'].str.rstrip("%")
    chunk['term'] = pd.to_numeric(term_cleaned )
    chunk['revol_util'] = pd.to_numeric(revol_cleaned )
    
chunk.dtypes

id                                    object
member_id                            float64
loan_amnt                            float64
funded_amnt                          float64
funded_amnt_inv                      float64
term                                 float64
int_rate                              object
installment                          float64
grade                                 object
sub_grade                           category
emp_title                             object
emp_length                            object
home_ownership                      category
annual_inc                           float64
verification_status                 category
issue_d                       datetime64[ns]
loan_status                           object
pymnt_plan                            object
purpose                             category
title                                 object
zip_code                              object
addr_state                            object
dti                                  float64
delinq_2yrs                          float64
earliest_cr_line              datetime64[ns]
inq_last_6mths                       float64
open_acc                             float64
pub_rec                              float64
revol_bal                            float64
revol_util                           float64
total_acc                            float64
initial_list_status                   object
out_prncp                            float64
out_prncp_inv                        float64
total_pymnt                          float64
total_pymnt_inv                      float64
total_rec_prncp                      float64
total_rec_int                        float64
total_rec_late_fee                   float64
recoveries                           float64
collection_recovery_fee              float64
last_pymnt_d                  datetime64[ns]
last_pymnt_amnt                      float64
last_credit_pull_d            datetime64[ns]
collections_12_mths_ex_med           float64
policy_code                          float64
application_type                      object
acc_now_delinq                       float64
chargeoff_within_12_mths             float64
delinq_amnt                          float64
pub_rec_bankruptcies                 float64
tax_liens                            float64
dtype: object

In [30]:
chunk_iter = pd.read_csv('loans_2007.csv', chunksize=3000, dtype=convert_col_dtypes, parse_dates=["issue_d", "earliest_cr_line", "last_pymnt_d", "last_credit_pull_d"])
mv_counts = {}
for chunk in chunk_iter:
    term_cleaned = chunk['term'].str.lstrip(" ").str.rstrip(" months")
    revol_cleaned = chunk['revol_util'].str.rstrip("%")
    chunk['term'] = pd.to_numeric(term_cleaned)
    chunk['revol_util'] = pd.to_numeric(revol_cleaned)
    float_cols = chunk.select_dtypes(include=['float'])
    for col in float_cols.columns:
        missing_values = len(chunk) - chunk[col].count()
        if col in mv_counts:
            mv_counts[col] = mv_counts[col] + missing_values
        else:
            mv_counts[col] = missing_values
mv_counts

{'acc_now_delinq': 32,
 'annual_inc': 7,
 'chargeoff_within_12_mths': 148,
 'collection_recovery_fee': 3,
 'collections_12_mths_ex_med': 148,
 'delinq_2yrs': 32,
 'delinq_amnt': 32,
 'dti': 3,
 'funded_amnt': 3,
 'funded_amnt_inv': 3,
 'inq_last_6mths': 32,
 'installment': 3,
 'last_pymnt_amnt': 3,
 'loan_amnt': 3,
 'member_id': 3,
 'open_acc': 32,
 'out_prncp': 3,
 'out_prncp_inv': 3,
 'policy_code': 3,
 'pub_rec': 32,
 'pub_rec_bankruptcies': 1368,
 'recoveries': 3,
 'revol_bal': 3,
 'revol_util': 93,
 'tax_liens': 108,
 'term': 3,
 'total_acc': 32,
 'total_pymnt': 3,
 'total_pymnt_inv': 3,
 'total_rec_int': 3,
 'total_rec_late_fee': 3,
 'total_rec_prncp': 3}